<div>
  <h1>Reactive Drive Forms</h1>
  <hr>
  <form [formGroup]="myform" (ngSubmit)="onRegisterClick()">
    First Name:
    <input type="text" formControlName="firstname">
    <span class="error" *ngIf="myform.controls.firstname.touched && myform.controls.firstname.invalid && myform.controls.firstname">
      Firstname can't be blank
    </span>
    <span class="error" *ngIf="myform.controls.firstname.touched && myform.controls.firstname.invalid && myform.controls.firstname">
      Min: 5 characters
    </span>
    <span class="error" *ngIf="myform.controls.firstname.touched && myform.controls.firstname.invalid && myform.controls.firstname">
      Max:20 characters
    </span>
    <span class="error" *ngIf="myform.controls.firstname.touched && myform.controls.firstname.invalid && myform.controls.firstname">
      Alphabets only allowed
    </span>
    <br><br>
    Last Name:
    <input type="text" formControlName="lastname">
    <span class="error" *ngIf="myform.controls.lastname.touched && myform.controls.lastname.invalid && myform.controls.lastname">
      Lastname can't be blank
    </span>
    <span class="error" *ngIf="myform.controls.lastname.touched && myform.controls.lastname.invalid && myform.controls.lastname">
      Min: 5 characters
    </span>
    <span class="error" *ngIf="myform.controls.lastname.touched && myform.controls.lastname.invalid && myform.controls.lastname">
      Max: 20 characters
    </span>
    <span class="error" *ngIf="myform.controls.lastname.touched && myform.controls.lastname.invalid && myform.controls.lastname">
      Alphabets only allowed
    </span>
    <br><br>
    Email:
    <input type="text" formControlName="email">
    <span class="error" *ngIf="myform.controls.email.touched && myform.controls.email.invalid && myform.controls.email">
      Email can't be blank
    </span>
    <span class="error" *ngIf="myform.controls.email.touched && myform.controls.email.invalid && myform.controls.email">
      Email is not valid
    </span>
    <br><br>
    Phone No:
    <input type="text" formControlName="phone">
    <span class="error" *ngIf="myform.controls.phone.touched && myform.controls.phone.invalid && myform.controls.phone">
      Phone Number can't be blank
    </span>
    <span class="error" *ngIf="myform.controls.phone.touched && myform.controls.phone.invalid && myform.controls.phone">
      Alphabets not allowed
    </span>
    <br><br>
    Password:
    <input type="text" formControlName="password" value="password">
    <span class="error" *ngIf="myform.controls.password.touched && myform.controls.password.invalid && myform.controls.password">
      Password can't be blank
    </span>
    <br><br>
    Re-Password:
    <input type="text" formControlName="repassword" value="repassword">
    <span class="error" *ngIf="myform.controls.repassword.touched && myform.controls.repassword.invalid && myform.controls.repassword">
      Repeat-Password can't be blank
    </span>
    <br><br>
    <input type="submit" value="Submit"><br>
    <div [innerHTML]="msg"></div>
  </form>
</div>
